.carousel-indicators {
    left: unset;
    bottom: 160px;
}

.carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
}

.carousel-caption {
    text-align: left;
    right: unset;
    left: unset;
    color: #000;
    bottom: 0;
    padding: 0;
    z-index: 2;
}